@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --terracotta: #C1694F;
  --beige: #F5ECD7;
  --anthracite: #2C2C2C;
  --creme: #FAFAF5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
